# Minecraft 服务器运行数据
/data/
# DDNS-GO
/ddns-go-data/
# 备份
*.bak
backups/
*.tar.gz
# 凭据
credentials.md
# MCSManager 运行时数据
/mcsm/
# 系统
System Volume Information/
# Claude Code
.claude/
claude-resume
# Mod 文件
/mods/*.jar
temp-mods/
home/

